<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/gallery.css">
    <link rel="stylesheet" href="css/nav.css">
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
</head>
<body>
    <div class="main">
        <div class="menu">
            <ul>
              <li class="home">
                <a href="/"> <i class="bx bx-home" id="homebtn"></i> </a>
              </li>
              <li class="booking">
                <a href="booking">
                  <i class="bx bx-book-content" id="bookingbtn"></i
                ></a>
              </li>
              <li class="places">
                <a href="gallery"> <i class="bx bxs-plane-alt" id="placebtn"></i></a>
              </li>
              <li class="contact">
                <a href="contact"> <i class="bx bx-phone" id="contactbtn"></i> </a>
              </li>
            </ul>
          </div>
        <div class="contain">
            <div class="pic1">
                <div class="text">ATTABAD LAKE</div>
            </div>
            <div class="pic2">
                <div class="text">HUNZA </div>
            </div>
            <div class="pic3">
                <div class="text">KALASH</div>
            </div>
            <div class="pic4">
                <div class="text">FAIRY MEADOWS</div>
            </div>
            <div class="pic5">
                <div class="text">GORAKH HILLS</div>
            </div>
            <div class="pic6">
                <div class="text">NARAN</div>
            </div>
            <div class="pic7">
                <div class="text">KAGHAN</div>
            </div>
            <div class="pic8">
                <div class="text">KHUNJERAB <br> PASS</div>
            </div>
            <div class="pic9">
                <div class="text">NEELUM</div>
            </div>
            <div class="pic10">
                <div class="text">MARGALA HILLS</div>
            </div>
            <div class="pic11">
                <div class="text">RAKAPOSHI</div>
            </div>
            <div class="pic12">
            <div class="text">USHU FOREST</div>
                
            </div>
        </div>
    </div>
</body>
</html>