<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css"/>
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="main">
      <div class="new">
        <div class="contain">
          <div class="menu">
            <ul>
              <li class="home">
                <a href="/"> <i class="bx bx-home" id="homebtn"></i> </a>
              </li>
              <li class="booking">
                <a href="booking">
                  <i class="bx bx-book-content" id="bookingbtn"></i
                ></a>
              </li>
              <li class="places">
                <a href="gallery"> <i class="bx bxs-plane-alt" id="placebtn"></i></a>
              </li>
              <li class="contact1">
                <a href="contact"> <i class="bx bx-phone" id="contactbtn"></i> </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="con2">
         
          <h1>PAK TOUR TRAVEL AGENCY</h1>
          <p class="para">
            Hello people of this beautiful country, Pakistan. We were worried
            about how you guys make a tour in this country without getting
            worried about your stay, food and security. So, in order to remove
            this worry we launched an online booking bus rides to give a tour of
            this entire country. You just need to book our bus ride and from
            then you will become our responisibility, so be very tension free
            and pack all your necessary stuff. <br />
            <br />This is the most trustable pak tour travel agency in Pakistan.
            We give tour all across Pakistan, Karachi, Islamabad, Hyderabad,
            Lahore, Multan you name it.
          </p>
          <div class="quote">
            "Still round the corner,there may wait, a new road or a secret gate"
            <p class="name">~J.R.R TOLKIEN</p>
          </div>

          <div class="pics">
            <div class="c1">
              <h2>ABOUT US</h2>
              <br />
              <p>
                The most trustable online tour agency, we started this tour
                agency to give people what they want and they want a complete
                Pakistan tour without any responisibility from standing in the
                queue for tickets to hotel bookings. <br />
                <br />
                We as online tour agency takes all the burden off people's
                shoulders by giving every service required during the tour
              </p>
              <br />
              <br />
              <p>
                Established in 2001 and continuously evolving, bringing out new
                services and deals. All you have to do is to book your tickets
                online and the rest is our responisibility.
              </p>
            </div>
            <div class="pic1"></div>
            <div class="c2"></div>
            <div class="pic2">
              <h2>Services we are going to provide are:</h2>
              <br />
              <ul class="serv">
                <li>Hotel Booking</li>
                <li>Bon Fire</li>
                <li>Security Guards</li>
                <li>Air conditioned Buses</li>
                <li>Concerts</li>
                <li>Photoshoot</li>
                <li>Camping</li>
              </ul>
            </div>
          </div>
          <div class="foot">
            <footer>
              <p>Travel Agency &copy. All rights reserved</p>
            </footer>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
